
.publication {
	line-height: 12pt;
}

.publication li {
	margin-top: 10px;
}

.download li {
	margin-top: 10px;
	font-size: 14pt;	
}

section.download {
    color: #fff;
    background: #18bc9c;
}

section.download a,
section.download a:focus,
section.download a.active {
	color: #CDF7DF;
	text-decoration: none;
}
section.download a:hover {
	color: #D6672B;
}

.paper {
	padding-left: 15px;
	font-size: 12pt;	
    color: #000;
}

.news {
  font-size: 14pt;
  color: #C00;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.news a:visited {
  left: 0;
  right: 0;
  color: #C00;
}

.news:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #F00;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.news:hover  {
	text-decoration: none;
  	color: #F00;
}

.news:hover:before, .news:focus:before, .news:active:before {
  left: 0;
  right: 0;
}

.note {
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	font-family: "Helvetica";
	letter-spacing: 1px;	
}

.author {
	margin-left: 40px;
	font-size: 11pt;	
	font-style: italic;
    color: #666;
}

.conf {
	margin-left: 40px;
	font-size: 10pt;	
    color: #999;
}

hr.inscore {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.inscore:after {
    content: url("../img/INScore-small.png");
    display: inline-block;
    position: relative;
    top: -.7em;
    padding: 0 10px 0 10px;
    font-size: 2em;
}

hr.inscore {
    border-color: #ccc;
}
