build/
lib/GuidoEngine/lib
lib/GuidoEngine/linux/libGUIDOEngine.so*
lib/GuidoEngine/macosx/GUIDOEngine.framework/
lib/GuidoQt/linux/libGuidoQt.a
lib/GuidoQt/macosx/libGuidoQt-cpp11.a
lib/GuidoQt/macosx/libGuidoQt.a
lib/libMusicXML/
lib/lua/
lib/oscpack/build/
lib/oscpack/**/*.o
lib/oscpack/bin
lib/oscpack/cmake/Makefile
lib/oscpack/oscpack
src/libmapping/doc/html/
src/libmapping/doc/latex/
tmp/
tools/QtOSCController/.qmake.stash
tools/QtOSCController/QtOSCController.build/
tools/QtOSCController/qtosccontroller_plugin_import.cpp
validation/__tmp.inscore
*~
cmake/
/.directory
