[submodule "modules/guidolib"]
	path = modules/guidolib
	url = https://github.com/grame-cncm/guidolib.git
	branch = dev
[submodule "modules/guidoar"]
	path = modules/guidoar
	url = https://github.com/grame-cncm/guidoar.git
	branch = dev
[submodule "modules/libmusicxml"]
	path = modules/libmusicxml
	url = https@github.com:grame-cncm/libmusicxml.git
	branch = master
