lib/oscpack/build/
lib/oscpack/*/*.o
lib/oscpack/bin
lib/oscpack/cmake/Makefile
lib/oscpack/oscpack

package/doc/WebAPI.tgz

src/libmapping/doc/html/
src/libmapping/doc/latex/
src/javascript/rsrc/
src/javascript/build/refs.*

tmp/
.qmake.stash
tools/QtOSCController/QtOSCController.build/
tools/QtOSCController/qtosccontroller_plugin_import.cpp
validation/__tmp.inscore
*~
/.directory
scripts/mobile/*.ibundle
*.so
*.app
*.apk
*.user
*.xcodeproj
*.build
*.o
*.graffle
moc_*.cpp

ios
macos
tmp-rsc
doc/webAPI/build
Debug
Release
.DS_Store

build/android*
build/archive
build/inscoredir
build/iosdir
build/modeldir
build/wasmdir
build/bin
build/lib
build/xcode
build/INScore-1.*
build/Qt6
