
node_modules/

inscoreview.js
inscoreglue.js
test.js
TSCheck

lib/*
pages/libfaust-wasm.data
pages/levinas
pages/FilDeSoi1_rawPatch_Grame2021
libfaust-wasm.data
pages/FilDeSoi1/FilDeSoi1-srcs/

npm/libINScore.*
npm/INScoreJS.js
npm/inscore.d.ts
npm/fonts
npm/dev/src
npm/changelog.txt
