
body {
	font-family: carlito;
}

.inscore-scene {
	border: 1px black solid;
    box-shadow: 2px 2px 4px gray;
    border-radius: 8px;
    background-color: rgb(250,250,250);
    
}

.inscore {
	border: 1px blue solid;
    box-shadow: 2px 2px 4px gray;
    border-radius: 0px;
    background-color: rgb(250,250,250);
    min-width: 100px;
    min-height: 100px;
}

/* 
.inscore-rect {
    border-radius: 10px;
}



.inscore-arc {
	border: 0px blue solid;
	fill:none;
	stroke:red;
	stroke-width:6
}

.inscore-line 		{ }
.inscore-polygon 	{ }
.inscore-img 		{ border: 0px blue solid; }
.inscore-video 		{ border: 0px blue solid; }
.inscore-ellipse 	{ }
.inscore-curve 		{ }
.inscore-txt 	{ 
	font-family: 'Carlito'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 12px; 
	white-space: pre;
}

.inscore-html 	{ 
	font-family: 'Carlito'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 14px;
}

.inscore-gmn 		{ border: 0px blue solid; cursor: default; }
.inscore-pianoroll 	{ }
.inscore-svg 		{ }
 */
