@font-face {
	font-family: CarlitoRegular;
    src: url('../fonts/Carlito-Regular.ttf') format('truetype') ;   
    font-family: 'Guido2';
    src: url('../fonts/guido2-webfont.eot');
    src: url('../fonts/guido2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/guido2-webfont.woff') format('woff'),
         url('../fonts/guido2-webfont.ttf') format('truetype'),
         url('../fonts/guido2-webfont.svg#guido2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.inscore-rect {
    border-radius: 10px;
}

.inscore-scene {
	border: 1px black solid;
    box-shadow: 2px 2px 4px gray;
    border-radius: 8px;
    background-color: rgb(250,250,250);
}

.inscore {
	border: 1px blue solid;
    box-shadow: 2px 2px 4px gray;
    border-radius: 0px;
    background-color: rgb(250,250,250);
    min-width: 100px;
    min-height: 100px;
}

.inscore-arc {
	border: 0px blue solid;
	fill:none;
	stroke:red;
	stroke-width:6
}

.inscore-line 		{ }
.inscore-polygon 	{ }
.inscore-img 		{ border: 0px blue solid; }
.inscore-video 		{ border: 0px blue solid; }
.inscore-ellipse 	{ }
.inscore-curve 		{ }
.inscore-txt 	{ 
	font-family: 'CarlitoRegular'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 12px; 
	white-space: pre;
}

.inscore-html 	{ 
	font-family: 'CarlitoRegular'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 14px;
}

.inscore-log 	{ 
	font-family: 'courier'; 
	font-size: 10pt; 
	margin: 10px 20px 10px 20px;
	color: rgb(120,120,120); 
}

.inscore-gmn 		{ border: 0px blue solid; cursor: default; }
.inscore-pianoroll 	{ }
.inscore-svg 		{ }

