*.dvi
*.log
*.tmp
*.aux
*.idx
*.bbl
*.blg
*.ilg
*.ind
*.out
*.rai
*.toc
*.4*
*.idv
*.lg
*.snm
*.nav
*.pl
*.xref
OSCMsg/WARNINGS
doxygen/IASL-*.pdf
doxygen/IASL-*/
doxygen/ALL-*/
doxygen/*latex
doxygen/html/
doxygen/latex/
doxygen/INScore-*
