*.bcf
*.dvi
*.log
*.tmp
*.aux
*.idx
*.bbl
*.bcf
*.blg
*.ilg
*.ind
*.out
*.rai
*.toc
*.4*
*.idv
*.lg
*.snm
*.nav
*.pl
*.xref
OSCMsg/WARNINGS
doxygen/IASL-*.pdf
doxygen/IASL-*/
doxygen/ALL-*/
doxygen/*latex
doxygen/html/
doxygen/latex/
doxygen/INScore-*
rsrc/
papers/in progress/
papers/2019-ICMC/
papers/2019-TENOR/
papers/2019-SMC/LATEX
*.pdf

