BODY	{ background-color: #ffffff; color: #505050;
	     font-family :  Arial,Helvetica,Verdana; font-size : 10pt;
	     text-align:      justify;
	     margin: 1cm 15mm 1cm 15mm;
	    }

/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

ADDRESS 	{ font-style: normal; font-size : 8pt; color: rgb(100,100,100); }
TT 			{ color: rgb(35,17,173); }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */

A		    { color: #4C1301; text-decoration: none}
A:hover     { color: #C6482C;}

IMG     	{ color: #ffffff; border-top-width: 15px;}

/* document-specific styles come next */
