
.scene {
	position: absolute;
	margin: 0px;
	border: 1px black solid;
    box-shadow: 2px 2px 4px gray;
    border-radius: 8px;
    background-color: rgb(250,250,250);
}

.rect {
	position: absolute;
	margin: 0px;
	border: 2px red solid;
    border-radius: 4px;
    background-color: rgba(220,220,250,200);
}

.ellipse {
	position: absolute;
	margin: 0px;
	border: 2px blue solid;
    background-color: rgb(220,250,200);
}

.txt {
	position: absolute;
	border: 2px blue solid;
}
