 
/* start css.sty */
.ptmr8t-x-x-248{font-size:248%;}
.ptmr8t-x-x-120{font-size:120%;}
.ptmr8t-x-x-90{font-size:90%;}
.zptmcmr-{ font-style: italic;}
.zpzccmry-{ font-weight: bold; font-style: italic;}
.pcrr8tn-{font-family: monospace;}
.pcrr8tn-{font-family: monospace;}
.pcrr8tn-{font-family: monospace;}
.pcrr8tn-x-x-90{font-size:90%;font-family: monospace;}
.pcrr8tn-x-x-90{font-family: monospace;}
.pcrr8tn-x-x-90{font-family: monospace;}
.ptmb8t-x-x-144{font-size:144%;  font-weight: bold;}
.ptmb8t-x-x-144{  font-weight: bold;}
.ptmb8t-{  font-weight: bold;}
.ptmb8t-{  font-weight: bold;}
.ptmri8t-{font-style: italic;}
.ptmbc8t-{ font-weight: bold;}
.pcrb8t-{ font-weight: bold; font-family: monospace;}
.pcrb8t-{ font-weight: bold; font-family: monospace;}
.pcrb8t-x-x-90{font-size:90%; font-weight: bold; font-family: monospace;}
.pcrb8t-x-x-90{ font-weight: bold; font-family: monospace;}
.pcrro8t-{font-family: monospace;    font-style: oblique;}
.pcrr8tn-x-x-80{font-size:80%;font-family: monospace;}
.pcrr8tn-x-x-80{font-family: monospace;}
.pcrr8tn-x-x-80{font-family: monospace;}
.small-caps{font-variant: small-caps; }
body#tex4ht-menu {white-space: nowrap; }
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
br.index-segment:first-child {display:none}
.index-item br, .index-subitem br, .index-subsubitem br {display:none}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
h1.partHead{text-align: center}
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.figure img.graphics {margin-left:10%;}
div#colorbox1{background-color:rgb(237,237,237);}
div#colorbox2{background-color:rgb(237,237,237);}
div#colorbox3{background-color:rgb(237,237,237);}
div#colorbox4{background-color:rgb(237,237,237);}
div#colorbox5{background-color:rgb(237,237,237);}
div#colorbox6{background-color:rgb(237,237,237);}
div#colorbox7{background-color:rgb(237,237,237);}
div#colorbox8{background-color:rgb(237,237,237);}
div#colorbox9{background-color:rgb(237,237,237);}
div#colorbox10{background-color:rgb(237,237,237);}
div#colorbox11{background-color:rgb(237,237,237);}
div#colorbox12{background-color:rgb(237,237,237);}
div#colorbox13{background-color:rgb(237,237,237);}
div#colorbox14{background-color:rgb(237,237,237);}
div#colorbox15{background-color:rgb(237,237,237);}
div#colorbox16{background-color:rgb(237,237,237);}
div#colorbox17{background-color:rgb(237,237,237);}
div#colorbox18{background-color:rgb(237,237,237);}
div#colorbox19{background-color:rgb(237,237,237);}
div#colorbox20{background-color:rgb(237,237,237);}
div#colorbox21{background-color:rgb(237,237,237);}
div#colorbox22{background-color:rgb(237,237,237);}
div#colorbox23{background-color:rgb(237,237,237);}
div#colorbox24{background-color:rgb(237,237,237);}
div#colorbox25{background-color:rgb(237,237,237);}
div#colorbox26{background-color:rgb(237,237,237);}
div#colorbox27{background-color:rgb(237,237,237);}
div#colorbox28{background-color:rgb(237,237,237);}
div#colorbox29{background-color:rgb(237,237,237);}
div#colorbox30{background-color:rgb(237,237,237);}
div#colorbox31{background-color:rgb(237,237,237);}
div#colorbox32{background-color:rgb(237,237,237);}
div#colorbox33{background-color:rgb(237,237,237);}
div#colorbox34{background-color:rgb(237,237,237);}
div#colorbox35{background-color:rgb(237,237,237);}
div#colorbox36{background-color:rgb(237,237,237);}
div#colorbox37{background-color:rgb(237,237,237);}
div#colorbox38{background-color:rgb(237,237,237);}
div#colorbox39{background-color:rgb(237,237,237);}
div#colorbox40{background-color:rgb(237,237,237);}
div#colorbox41{background-color:rgb(237,237,237);}
div#colorbox42{background-color:rgb(237,237,237);}
div#colorbox43{background-color:rgb(237,237,237);}
div#colorbox44{background-color:rgb(237,237,237);}
div#colorbox45{background-color:rgb(237,237,237);}
div#colorbox46{background-color:rgb(237,237,237);}
div#colorbox47{background-color:rgb(237,237,237);}
div#colorbox48{background-color:rgb(237,237,237);}
div#colorbox49{background-color:rgb(237,237,237);}
div#colorbox50{background-color:rgb(237,237,237);}
div#colorbox51{background-color:rgb(237,237,237);}
div#colorbox52{background-color:rgb(237,237,237);}
div#colorbox53{background-color:rgb(237,237,237);}
div#colorbox54{background-color:rgb(237,237,237);}
div#colorbox55{background-color:rgb(237,237,237);}
div#colorbox56{background-color:rgb(237,237,237);}
div#colorbox57{background-color:rgb(237,237,237);}
div#colorbox58{background-color:rgb(237,237,237);}
div#colorbox59{background-color:rgb(237,237,237);}
div#colorbox60{background-color:rgb(237,237,237);}
div#colorbox61{background-color:rgb(237,237,237);}
div#colorbox62{background-color:rgb(237,237,237);}
div#colorbox63{background-color:rgb(237,237,237);}
div#colorbox64{background-color:rgb(237,237,237);}
div#colorbox65{background-color:rgb(237,237,237);}
div#colorbox66{background-color:rgb(237,237,237);}
div#colorbox67{background-color:rgb(237,237,237);}
div#colorbox68{background-color:rgb(237,237,237);}
div#colorbox69{background-color:rgb(237,237,237);}
div#colorbox70{background-color:rgb(237,237,237);}
div#colorbox71{background-color:rgb(237,237,237);}
div#colorbox72{background-color:rgb(237,237,237);}
div#colorbox73{background-color:rgb(237,237,237);}
div#colorbox74{background-color:rgb(237,237,237);}
div#colorbox75{background-color:rgb(237,237,237);}
div#colorbox76{background-color:rgb(237,237,237);}
div#colorbox77{background-color:rgb(237,237,237);}
div#colorbox78{background-color:rgb(237,237,237);}
div#colorbox79{background-color:rgb(237,237,237);}
div#colorbox80{background-color:rgb(237,237,237);}
div#colorbox81{background-color:rgb(237,237,237);}
div#colorbox82{background-color:rgb(237,237,237);}
div#colorbox83{background-color:rgb(237,237,237);}
div#colorbox84{background-color:rgb(237,237,237);}
div#colorbox85{background-color:rgb(237,237,237);}
div#colorbox86{background-color:rgb(237,237,237);}
div#colorbox87{background-color:rgb(237,237,237);}
div#colorbox88{background-color:rgb(237,237,237);}
div#colorbox89{background-color:rgb(237,237,237);}
div#colorbox90{background-color:rgb(237,237,237);}
div#colorbox91{background-color:rgb(237,237,237);}
div#colorbox92{background-color:rgb(237,237,237);}
div#colorbox93{background-color:rgb(237,237,237);}
div#colorbox94{background-color:rgb(237,237,237);}
div#colorbox95{background-color:rgb(237,237,237);}
div#colorbox96{background-color:rgb(237,237,237);}
div#colorbox97{background-color:rgb(237,237,237);}
div#colorbox98{background-color:rgb(237,237,237);}
div#colorbox99{background-color:rgb(237,237,237);}
div#colorbox100{background-color:rgb(237,237,237);}
div#colorbox101{background-color:rgb(237,237,237);}
div#colorbox102{background-color:rgb(237,237,237);}
div#colorbox103{background-color:rgb(237,237,237);}
div#colorbox104{background-color:rgb(237,237,237);}
div#colorbox105{background-color:rgb(237,237,237);}
div#colorbox106{background-color:rgb(237,237,237);}
div#colorbox107{background-color:rgb(237,237,237);}
div#colorbox108{background-color:rgb(237,237,237);}
div#colorbox109{background-color:rgb(237,237,237);}
div#colorbox110{background-color:rgb(237,237,237);}
div#colorbox111{background-color:rgb(237,237,237);}
div#colorbox112{background-color:rgb(237,237,237);}
div#colorbox113{background-color:rgb(237,237,237);}
div#colorbox114{background-color:rgb(237,237,237);}
div#colorbox115{background-color:rgb(237,237,237);}
div#colorbox116{background-color:rgb(237,237,237);}
div#colorbox117{background-color:rgb(237,237,237);}
div#colorbox118{background-color:rgb(237,237,237);}
div#colorbox119{background-color:rgb(237,237,237);}
div#colorbox120{background-color:rgb(237,237,237);}
/* end css.sty */

