[Desktop Entry]
Encoding=UTF-8
Name=INScore
GenericName=INScore Viewer
Comment=Interactive Augmented Music Score Viewer.
Comment[fr]=Afficheur de partitions musicales interactives et augmentées.
Exec=/usr/bin/INScoreViewer
Terminal=false
Type=Application
Categories=Audio;Music;AudioVideo;Qt;
Icon=inscore.png

