Package: inscore
Version: 1.2.1
Section: sound
Priority: optional
Architecture: amd64
Depends: libc6 (>=  2.19-18+deb8u4), libstdc++6 (>=  4.9.2-10), libgcc1 (>=  1:4.9.2-10), libmicrohttpd10 (>= 0.9.37+dfsg-1+b), qt5-default (>= 5.3.2+dfsg-4+de)
Installed-Size: 210988
Conflicts: guidoengine-devel (<< 1.6.2)
Replaces: guidoengine-devel
Maintainer: D. Fober <fober@grame.fr>
Description: INScore - Interactive, Augmented Music Scores.

