[0-9].*
INScoreVersion
INScoreViewer
SendOSC
forcepdfdate
*.pdf
tools/cmake/CMakeCache.txt
tools/cmake/CMakeFiles/
tools/cmake/CMakeScripts/
tools/cmake/cmake_install.cmake
tools/cmake/inscore-tools.*
*.so.1
ReceiveOSC
