cmake/CMakeCache.txt
cmake/CMakeFiles/
cmake/CMakeScripts/
cmake/Debug/
cmake/debug/
cmake/Release/
cmake/release/
cmake/build/
cmake/cmake_install.cmake
cmake/oscpack.*
cmake/*.vcproj*
liboscpack.a
liboscpack.so.1.0.2
