<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2016-01-28 09:08:28 +0000</string>
	<key>Creator</key>
	<string>Dominique Fober</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 10.000 mm</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{260.58764904433247, 288.40718668211383}, {24.10133105820665, 7.7297871318109239}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>102</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{231.67943855979507, 292.77022240440613}, {16.870931842101339, 7.7297871318109239}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>103</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{251.23499271109964, 274.22732058466374}, {16.870931842101339, 7.7297871318109239}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>104</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{222.3267822265625, 258.95669555664062}, {16.870931842101339, 7.7297871318109239}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>105</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>101</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{301, 253}, {62.362197875976562, 51.116555636046371}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>94</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>124</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{474.33552582867776, 198.69131482355115}</string>
						<string>{431, 198.69131482355115}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>125</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{474.33552582867776, 189.79942394492215}</string>
						<string>{431, 189.79942394492215}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>126</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{474.33552582867776, 182.15551798874847}</string>
						<string>{431, 182.15551798874847}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>127</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{474.33552582867776, 174.51161203257476}</string>
						<string>{431, 174.51161203257476}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>128</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{474.33552582867776, 166.86770607640108}</string>
						<string>{431, 166.86770607640108}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>129</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{474.33552582867776, 158.91180410752224}</string>
						<string>{431, 158.91180410752224}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>130</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{474.33552582867776, 150.95590213864344}</string>
						<string>{431, 150.95590213864344}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>131</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{474.33552582867776, 143}</string>
						<string>{431, 143}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>123</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>133</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{419.7193995774241, 198.68244252313963}</string>
						<string>{375.99999999999989, 198.68244252313963}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>134</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{419.7193995774241, 190.97082549669852}</string>
						<string>{375.99999999999989, 190.97082549669852}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>135</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{419.7193995774241, 183.25920847025742}</string>
						<string>{375.99999999999989, 183.25920847025742}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>136</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{419.7193995774241, 175.54759144381629}</string>
						<string>{375.99999999999989, 175.54759144381629}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>137</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{419.7193995774241, 166.82550769979215}</string>
						<string>{375.99999999999989, 166.82550769979215}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>138</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{419.7193995774241, 158.79913094481}</string>
						<string>{375.99999999999989, 158.79913094481}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>139</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{419.7193995774241, 150.77275418982785}</string>
						<string>{375.99999999999989, 150.77275418982785}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>140</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{419.7193995774241, 143}</string>
						<string>{375.99999999999989, 143}</string>
					</array>
					<key>Rotation</key>
					<real>90</real>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>132</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>107</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{289.77459122624293, 138}</string>
						<string>{289.77459122624293, 194.69290924072266}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>108</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{268.88729561312147, 138}</string>
						<string>{268.88729561312147, 194.69290924072266}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>109</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{248, 138}</string>
						<string>{248, 194.69290924072266}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>106</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>111</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{203.77459122624299, 138}</string>
						<string>{203.77459122624299, 194.69290924072266}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>112</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{182.88729561312149, 138}</string>
						<string>{182.88729561312149, 194.69290924072266}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>113</integer>
					<key>OrthogonalBarAutomatic</key>
					<true/>
					<key>OrthogonalBarPoint</key>
					<string>{0, 0}</string>
					<key>OrthogonalBarPosition</key>
					<real>-1</real>
					<key>Points</key>
					<array>
						<string>{161.99999999999997, 138}</string>
						<string>{161.99999999999997, 194.69290924072266}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{265, 85.790426694429854}, {43.266540912894499, 10.902482546292818}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>56</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{265, 62.89521334721492}, {43.266540912894499, 10.902482546292818}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>57</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.501961</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{265, 40}, {43.266540912894499, 10.902482546292818}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>58</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{196.5, 85.790426694429854}, {43.266540912894499, 10.902482546292818}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>52</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{196.5, 62.89521334721492}, {43.266540912894499, 10.902482546292818}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>53</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{196.5, 40}, {43.266540912894499, 10.902482546292818}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>54</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.246263</string>
								<key>g</key>
								<string>0.246258</string>
								<key>r</key>
								<string>0.246266</string>
							</dict>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{128.5, 40}, {46.88067494905912, 56.692909240722656}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>8</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{60.5, 40}, {46.88067494905912, 56.692909240722656}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>9</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image8.tiff</string>
		<string>image6.tiff</string>
		<string>image4.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Calque 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2016-02-01 15:25:50 +0000</string>
	<key>Modifier</key>
	<string>Dominique Fober</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSPrinter</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAlOU1ByaW50ZXIAhIQITlNPYmplY3QAhZKEhIQITlNTdHJpbmcBlIQBKwdCcm90aGVyhoY=</string>
		</array>
		<key>NSPrinterName</key>
		<array>
			<string>string</string>
			<string>Brother</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>35.999996185302734</real>
	<key>SheetTitle</key>
	<string>Canevas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{968, 410}, {848, 702}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-70, 0}, {699, 548}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canevas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
